@import "tailwindcss";

@layer base {
  :root {
    --color-background: #FFF9F5;
    --color-foreground: #292322;
    --color-muted: #756B67;
    --color-accent: #C98276;
    --color-accent-hover: #b57469;
    --color-accent-light: #F2D9D3;
    --color-card: #FFFFFF;
    --color-border: #EDE2DD;
  }

  .dark {
    --color-background: #15171E;
    --color-foreground: #F8F9FA;
    --color-muted: #9CA3AF;
    --color-accent: #E24A8D;
    --color-accent-hover: #C93E7A;
    --color-accent-light: #3A1F2B;
    --color-card: #222530;
    --color-border: #323644;
  }

  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-muted: var(--color-muted);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-light: var(--color-accent-light);
  --color-card: var(--color-card);
  --color-border: var(--color-border);
}